
<div class="max-w mx-auto">
  <div *ngIf="isCurrentUser; else elseBlock">
    <div class="flex justify-end mb-4">
      <div class="bg-gray-300 text-gray-700 rounded-lg p-4 max-w-xs break-all">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="flex justify-start mb-4">
      <div class="bg-blue-500 text-white rounded-lg p-4 max-w-xs break-all">
        <p class="leading-tight">{{ message }}</p>
      </div>
    </div>
  </ng-template>
</div>
